.search-section {
  padding-top: 50px;
  padding-bottom: 50px;
  
  @media (max-width: $phoneWidth) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.main {
  padding-top: 50px;

  @media (max-width: $phoneWidth) {
    padding-top: 26px;
  }
}