.animation-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  a.button {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  button.button {
    position: absolute;
    top: 30px;
    left: 200px;
  }

  .molecule {
    path {
      transition: all 3s ease;
    }
  }

}

// Пытался через такие анимации, но при триггере и замене одной анимации на другую не происходит плавного перехода
@keyframes animaion_1 {
  0%, 100% {
    d:path("M94.61905,228.96826C97.79365,167.23012 137.71928,135.66667 213.85714,88.04762C289.99501,40.42858 592.61905,192.62694 624.36508,246.42858C656.11112,300.23022 476.50294,365.92063 382.11112,411.95238C287.7193,457.98412 91.44445,290.7064 94.61905,228.96826z");
  }

  33% {
    d:path("M83.50794,242.46032C68.42857,180.72218 116.2907,92.80951 206.71428,60.26984C297.13786,27.73017 630.71429,199.7698 638.65079,251.98414C646.5873,304.19847 502.69342,396.87302 405.12699,398.46032C307.56057,400.04761 98.58731,304.19846 83.50794,242.46032z");
  }

  77% {
    d:path("M97.79365,275C62.07936,221.99202 144.06847,107.88888 220.20634,76.14286C296.34421,44.39684 604.52381,137.86504 634.68254,187.69843C664.84126,237.53181 493.96326,368.30159 405.12699,398.46032C316.29072,428.61905 133.50795,328.00798 97.79365,275z");
  }
}

@keyframes animaion_2 {
  0%, 100% {
    d:path("M100.96825,285.31746C62.873,223.57932 153.59229,80.90475 288.46031,86.46032C423.32833,92.01589 490.23809,128.34123 537.85714,167.06351C585.47619,205.78579 709.83628,398.46032 621.00001,428.61905C532.16373,458.77778 139.0635,347.0556 100.96825,285.31746z");
  }

  33% {
    d:path("M109.69841,311.50794C38.26983,264.05551 165.49705,104.71427 247.98412,78.52381C330.47119,52.33335 517.22222,121.99202 564.84127,160.7143C612.46032,199.43658 709.83628,356.39683 678.14287,417.50794C646.44946,478.61905 181.12699,358.96037 109.69841,311.50794z");
  }

  77% {
    d:path("M76.36508,315.47619C50.96824,254.5317 126.60816,71.38094 216.23809,65.03175C305.86802,58.68256 514.84127,158.49996 578.33333,194.84128C641.8254,231.18261 763.01088,362.74603 671.79366,397.66667C580.57644,432.5873 101.76191,376.42068 76.36508,315.47619z");
  }
}

@keyframes animaion_3 {
  0%, 100% {
    d:path("M133.50794,356.74604C89.06349,275.96028 302.79865,211.06347 337.66666,138.84127C372.53467,66.61907 455.31746,28.34123 518.80953,64.68256C582.30159,101.02388 645.55056,269.88889 616.2381,357.19048C586.92564,444.49207 177.95239,437.5318 133.50794,356.74604z");
  }

  33% {
    d:path("M121.60318,395.63493C77.95237,325.16663 345.6558,239.63489 325.7619,161.06349C305.868,82.49209 501.34923,14.84918 534.68255,63.09526C568.01587,111.34134 658.24897,282.5873 647.19048,372.26985C636.13199,461.95239 165.25399,466.10323 121.60318,395.63493z");
  }

  77% {
    d:path("M166.84128,399.60318C166.84126,322.78568 282.95738,262.65076 320.20634,189.63492C357.4553,116.61908 495.79367,62.46823 557.69842,59.92066C619.60317,57.37309 749.51881,331 678.14286,374.6508C606.76691,418.30161 166.84129,476.42069 166.84128,399.60318z");
  }
}
