.badge {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $whiteColor;
  border-radius: 12px;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  transition: all .3s ease;

  &:hover {
    background-color: $darkGrayColor;
    border-color: $darkGrayColor;
  }

  &__icon {
    margin-right: 5px;
  }

  &__text {

  }
}