.button {
  background-color: transparent;
  padding: 15px 25px;
  color: $whiteColor;
  border: 1px solid $whiteColor;
  border-radius: 52px;
  font-family: $mainFont;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background-color: $darkGrayColor;
    border-color: $darkGrayColor;
  }
}