$card__title-font: "Spectral";
$card__text-font: "Tinos";

.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  cursor: pointer;

  //CARD ON HOVER
  &:hover {
    .card-main {
      max-height: 40%;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-position: 50% 50%;

      .card-main-content {
        opacity: 0;
        visibility: hidden;
      }
    }

    .card-description {
      visibility: visible;
      opacity: 1;
      min-height: 60%;
    }

    .card-badges {
      opacity: 0;
      transform: translateY(-50px);
    }

    .card-badges--with-icon {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .card-main {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    border-radius: 12px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    transition: max-height .5s ease;

    //CARD CONTENT
    .card-main-content {
      align-self: flex-end;
      visibility: visible;
      opacity: 1;
      transition: visibility .2s, opacity .2s ease;

      &__separator {
        display: flex;
        justify-content: center;
        max-width: 155px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;

        .separator-logo {
          position: relative;

          &::before {
            content: '';
            height: 1px;
            background-color: $whiteColor;
            position: absolute;
            top: 50%;
            right: 100%;
            margin-right: 10px;
            min-width: 60px;
          }
          &::after {
            content: '';
            height: 1px;
            background-color: $whiteColor;
            position: absolute;
            top: 50%;
            left: 100%;
            margin-left: 10px;
            min-width: 60px;
          }
        }
      }

      &__title {
        font-family: $card__title-font;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.4rem;
        text-align: center;
        min-height: 100px;
      }
    }
  }

  //CARD DESCRIPTION
  .card-description {
    display: flex;
    align-items: center;
    background-color: $whiteColor;
    padding: 16px 16px 32px;
    visibility: hidden;
    opacity: 0;
    min-height: 0;
    transition: min-height .5s ease, visibility .5s ease, opacity .8s ease;

    .card-description-content {

      &__title {
        color: $darkFontColor;
        text-align: center;
        font-size: 2.5rem;
        font-family: $card__title-font;
        font-weight: 800;
        line-height: 2.4rem;
        margin-bottom: 10px;
      }

      &__text {
        color: $darkFontColor;
        text-align: center;
        font-family: $card__text-font;
        line-height: 20px;
      }
    }
  }

  .card-badges {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    transition: opacity .3s ease, transform .4s ease;
    opacity: 1;
    transform: translateY(0);

    .badge {
      margin-left: 10px;
    }
  }

  .card-badges--with-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    transition: opacity .3s ease, transform .4s ease;
    opacity: 0;
    transform: translateY(-50px);

    .badge {
      margin-left: 10px;
    }
  }
}