.cards-container {
  padding: 0 10px;

  @media (min-width: $phoneWidth) {
    max-width: calc(90% + 20px);
    margin: auto;
    padding: 0;
  }

  @media (min-width: $desktopWidth) {
    max-width: calc(1276px + 20px);
  }


  .cards-row {
    display: flex;
    flex-wrap: wrap;

    //LARGE COLUMN
    .card-column--lg {
      position: relative;
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;

      @media (min-width: $desktopWidth) {
        max-width: 50%;
        flex: 0 0 50%;
        height: 25em;
        margin-top: 50px;
      }

      @media (min-width: $smDesktopWidth) {
        max-width: 66.6666%;
        flex: 0 0 66.6666%;
        height: 25em;
        margin-top: 40px;

        //CHANGING FONT STYLING
        .card {
          .card-main {
            .card-main-content {
              &__title {
                font-size: 3rem;
                width: 78%;
                line-height: 121.8%;
                margin: auto;
              }
            }
          }
          .card-description {
            .card-description-content {
              &__title {
                font-size: 3rem;
              }

              &__text {
                font-size: 1.8rem;
              }
            }
          }
        }
      }

      @media (min-width: $tabletWidth) {
        max-width: 100%;
        flex: 0 0 100%;
        height: 25em;
        margin-top: 40px;

        //CHANGING FONT STYLING
        .card {
          .card-main {
            .card-main-content {
              &__title {
                font-size: 2.8rem;
                width: 78%;
                line-height: 121.8%;
                margin: auto;
              }
            }
          }
          .card-description {
            .card-description-content {
              &__title {
                font-size: 2.8rem;
              }

              &__text {
                font-size: 1.6rem;
              }
            }
          }
        }
      }

      @media (min-width: $phoneWidth) {
        max-width: 100%;
        flex: 0 0 100%;
        height: 400px;
        margin-top: 50px;
      }

      @media (max-width: $phoneWidth) {
        max-width: 100%;
        flex: 0 0 100%;
        height: 400px;
        margin-top: 50px;
      }
    }

    //DEFAULT COLUMN
    .card-column {
      position: relative;
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;

      @media (min-width: $desktopWidth) {
        max-width: 25%;
        flex: 0 0 25%;
        height: 25em;
        margin-top: 50px;
      }

      @media (min-width: $smDesktopWidth) {
        max-width: 33.3333%;
        flex: 0 0 33.3333%;
        height: 25em;
        margin-top: 40px;
      }

      @media (min-width: $tabletWidth) {
        max-width: 50%;
        flex: 0 0 50%;
        height: 25em;
        margin-top: 40px;
      }

      @media (min-width: $phoneWidth) {
        max-width: 100%;
        flex: 0 0 100%;
        height: 400px;
        margin-top: 50px;
      }

      @media (max-width: $phoneWidth) {
        max-width: 100%;
        flex: 0 0 100%;
        height: 400px;
        margin-top: 50px;
      }
    }

  }
}

.a-section {
  background-color: $grayColor;
  box-shadow: inset 0px -10px 12px #DADADA, inset 0px 10px 12px #DADADA;
  margin-top: 70px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 35px;

  &__text {
    color: $darkFontColor;
    font-weight: bold;
    margin-bottom: 12px;
  }
}