.card-section {
  padding-bottom: 100px;

  .show-more {
    margin-top: 40px;
    text-align: center;

    &__count {
      font-size: 1.2rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #B0B0B0;
      margin-bottom: 16px;
    }
  }
}