.filter-mobile-toggler {
  display: none;

  @media (max-width: $tabletWidth) {
    display: inline-block;
  }
}

.filer-mobile-wrapper {
  display: none;

  &.active {
    display: none;
  }

  @media (max-width: $tabletWidth) {
    display: none;
    position: absolute;
    background-color: $whiteColor;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    z-index: 100;
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.12);

    &.active {
      display: flex;
      justify-content: space-between;
      align-items: center;
      animation: appear-animation .4s ease;
    }
  }

}