$filter_bg-color           : $whiteColor;
$filter_font               : "Proxima Nova";
$filter_font-weight        : bold;
$filter_font-color         : $darkFontColor;

.filter-section {
  margin-bottom: 10px;

  @media (max-width: $tabletWidth) {
    margin-bottom: 0;
  }

  .filter-widget {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $filter_bg-color;
    color: $filter_font-color;
    font-family: $filter_font;
    font-weight: $filter_font-weight;
    padding: 18px 32px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    z-index: 101;

    @media (max-width: $tabletWidth) {
      padding: 10px 20px;
      border-radius: 0;
    }

    .sorting-wrapper {

      @media (max-width: $tabletWidth) {
        span {
          display: none;
        }
      }

      .select {
        margin-left: 15px;

        @media (max-width: $tabletWidth) {
          margin-left: 0;
        }

      }

    }

    .filter-wrapper {
      @media (max-width: $tabletWidth) {
        display: none;
      }

      .select:not(:nth-last-of-type(1)) {
        margin-right: 10px;
      }
    }
  }
}
