.footer {

  .footer-main {
    display: flex;
    padding-top: 55px;
    padding-bottom: 60px;
    border-top: 1px solid $grayColor;

    @media (max-width: $smDesktopWidth) and (min-width: $tabletWidth){
      padding-top: 30px;
      padding-bottom: 0;
    }
    @media (max-width: $tabletWidth) {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .container {
      max-width: 1000px;
      display: flex;
      justify-content: space-between;

      @media (max-width: $smDesktopWidth) {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    }

    .footer-main-links {
      margin-top: 30px;

      @media (max-width: $smDesktopWidth) and (min-width: $tabletWidth){
        text-align: center;
        &__logo {
          svg {
            width: 400px;
            height: 85px;
          }
        }
      }

      @media (max-width: $tabletWidth) {
        text-align: center;
        &__logo {
          svg {
            width: 230px;
            height: 30px;
          }
        }
      }

      &__logo {
        svg {
          fill: #fff;
          transition: fill .3s ease;
          width: 190px;
          height: 40px;

          &:hover {
            fill: $goldColor;
          }
        }
      }

      &__social {
        margin-top: 20px;
        .title {
           text-transform: uppercase;
        }

        .social-list {
          display: flex;
          margin-top: 10px;

          @media (min-width: $smDesktopWidth) {
            justify-content: space-between;
          }
          @media (max-width: $smDesktopWidth) {
            justify-content: center;
          }


          &__item {
            width: 40px;
            height: 40px;
            margin-right: 13px;

            &:nth-last-of-type(1) {
              margin-right: 0;
            }

            &:nth-last-of-type(1), &:nth-last-of-type(2){
              display: none;

              @media (max-width: $smDesktopWidth) {
                display: list-item;
              }
            }

            &:hover {
              .social-list__link {
                border-color: $goldColor;
                svg path{
                  fill: $goldColor;
                }
              }
            }
          }

          &__link {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: transparent;
            border-radius: 6px;
            border: 1px solid $whiteColor;
            transition: border-color .3s ease;

            svg path{
              transition: fill .3s ease;
            }
          }
        }
      }
    }

    .footer-main-info {
      display: flex;
      flex-wrap: wrap;

      @media (max-width: $smDesktopWidth) and (min-width: $tabletWidth){
        border-top: 1px solid $grayColor;
        margin-top: 50px;
        width: 100%;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 50px;
      }
      @media (max-width: $tabletWidth) {
        border-top: 1px solid $grayColor;
        margin-top: 50px;
        width: 100%;
        justify-content: space-between;
        padding: 10px 20px 15px 10px;
      }

      .info-item {
        margin-left: 60px;
        margin-top: 30px;

        @media (max-width: $tabletWidth) {
          margin-left: 20px;
        }

        &__title {
          text-transform: uppercase;
          font-weight: bold;
        }

        &__list {
          margin-top: 15px;
        }

        &__list-item {
          margin-bottom: 8px;
          font-size: 1.4rem;

          &__link {
            color: $whiteColor;
            transition: color .3s ease;

            &:hover {
              color: $goldColor;
            }
          }

          &__mail-link {
            color: $goldColor;
            text-decoration: underline;
          }
        }
      }
    }
  }


  .footer-mistake {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid $grayColor;
    display: none;

    @media (min-width: $smDesktopWidth) {
      display: block;
    }

    &__text {
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 134%;
      text-align: center;
    }
  }

  .footer-copyright {
    padding: 40px 30px;
    border-top: 1px solid $grayColor;

    @media (max-width: $tabletWidth) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .container {
      max-width: 822px;
      display: flex;
      justify-content: space-between;
    }

    &__text {
      font-size: 1.2rem;
    }

    &__age {
      align-items: center;
      border-radius: 6px;
      border: 1px solid #fff;
      display: inline-flex;
      font-size: 16px;
      height: 30px;
      justify-content: center;
      padding: 5px 5px;
      vertical-align: middle;
      width: 30px;
      margin-left: 35px;
    }
  }
}

