// Search bar
$searchBar_bg-color: $grayColor;
$searchBar_bg-color-hover: $darkGrayColor;
$searchBar_font: "Spectral";
$searchBar_font-weight: 500;
$searchBar_font-size: 2.5rem;
$searchBar_font-style: italic;
$searchBar_height: 48px;

.search-bar {
  display: flex;
  height: 48px;

  @media (max-width: $phoneWidth) {
    height: 30px;
  }

  &__input {
    width: 84%;
    padding-top: 9px;
    padding-bottom: 6px;
    border-radius: 24px;
    background-color: $searchBar_bg-color;
    color: $darkFontColor;
    font-family: $searchBar_font;
    font-size: $searchBar_font-size;
    font-style: $searchBar_font-style;
    text-align: center;
    margin-right: 15px;

    @media (max-width: $phoneWidth) {
      text-align: left;
      padding-left: 19px;
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 1.6rem;
    }

    @media (min-width: $phoneWidth) {
      width: 86%;
    }

    @media (min-width: $tabletWidth) {
      width: 90%;
    }

    @media (min-width: $smDesktopWidth) {
      width: 93%;
    }

    @media (min-width: $desktopWidth) {
      width: 95%;
    }
  }

  &__btn {
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $searchBar_bg-color;
    transition: background-color .2s ease-in-out;
    @media (max-width: $phoneWidth) {
      width: 30px;
      height: 30px;
    }

    rect {
      transition: all .2s ease-in-out;
    }

    &:hover {
      background-color: $searchBar_bg-color-hover;

      rect {
        fill: $searchBar_bg-color;
      }
    }
  }
}

