.select {
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
  color: $darkGrayColor;
  background-color: transparent;
  border: 1px solid $darkGrayColor;
  border-radius: 45px;
  padding: 9px 35px 10px 15px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  
  @media (max-width: $tabletWidth) {
    font-size: 1.4rem;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &::after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 15px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $darkGrayColor;
    transition: all .2s ease-in-out;
  }

  &:hover {
    color: $lightFontColor;
    background-color: $darkGrayColor;

    &::after {
      border-top: 6px solid $whiteColor;
    }
  }

  &.active {
    color: $lightFontColor;
    background-color: $darkGrayColor;
    border-radius: 15px 15px 0 0;
  }

  &.active::after {
    border-top: 6px solid $whiteColor;
    transform: rotate(180deg);
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__items {
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    display: none;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 999;

    .select__item {
      border-top: 1px solid lighter($darkGrayColor, 1);
      padding-top: 10px;
      padding-bottom: 12px;
      background-color: $darkGrayColor;
      color: $lightFontColor;

      &:nth-last-of-type(1) {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:hover {
        background-color: lighter($darkGrayColor, 1);
      }
    }
  }

  &.active &__items {
    display: block;
    animation: appear-animation .4s ease;
  }

  &.chosen {
    color: $lightFontColor;
    background-color: $darkGrayColor;

    &::after {
      border-top: 6px solid $whiteColor;
    }
  }
}

@keyframes appear-animation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);

  }
}