// Font
$mainFont                : "Proxima Nova";
$mainFontWeight          : normal;
$mainFontSize            : 1.6rem;
$darkFontColor           : #272B2F;
$lightFontColor          : #FFFFFF;

// Device size
$desktopWidth            : 1440px;
$smDesktopWidth          : 1024px;
$tabletWidth             : 768px;
$phoneWidth              : 375px;

// Main colors
$bgColor                 : #202326;
$whiteColor              : #FFFFFF;
$grayColor               : #EDEDED;
$darkGrayColor           : #556274;
$goldColor               : #AB8C43;


