@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

body, html {
  height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: $bgColor;
  color: $lightFontColor;
  font-family: $mainFont;
  font-weight: $mainFontWeight;
  font-size: $mainFontSize;
}

.container {
  padding: 0 10px;
  
  @media (min-width: $phoneWidth) {
    max-width: 90%;
    margin: auto;
    padding: 0;
  }

  @media (min-width: $tabletWidth) {
    max-width: 90%;
  }

  @media (min-width: $smDesktopWidth) {
    max-width: 90%;
  }

  @media (min-width: $desktopWidth) {
    max-width: 1276px;
  }
}

.container-fluid {
  max-width: 100%;
  width: 100%;
}

.hr {
  margin: 0;
  color: $grayColor;
}


// Modules
@import "pages/searchPage";
@import "components/searchBar";
@import "components/filter";
@import "components/filter_wrapper__mobile";
@import "components/select";
@import "components/card";
@import "components/cardList";
@import "components/badge";
@import "components/button";
@import "components/cardSection";
@import "components/footer";
@import "components/animation";
